

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Priority Payment </title>
    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet"/>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
   
   $('.huge').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
}); 
</script>
</head>

<body>	
    <div id="wrapper">
        <!-- Page Content -->
        <div class="container-fluid">
        		<div class="row">
                    <div class="col-lg-12">        
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Zoom In/Zoom Out</a>
                    </div>
                </div>
        	</div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
               <div class="row">
               		<div class="panel panel-default">
               			<div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Payment Status
                        
                        </div>
                        <div class="panel-body">
                       
                        #foreach($key in $paymentStatusMap.keySet())
                        	<div class="col-lg-3 col-md-6">
                    		<div class="panel panel-blue">
                      		  <div class="panel-heading">
                            	<div class="row">
                                	<div class="col-xs-3">
                                    	<img class="paymentIcon" src="/image/Paper-Money-icon.png">
                                	</div>
                                	<div class="col-xs-9 text-right" id="count">
                                    	<div class="huge">$paymentStatusMap.get($key)</div>
                                    	<div>$key</div>
                                	</div>
                            	</div>
                        	 </div>
                        	</div>  
                		</div>
                        #end
                       
                      	
                
                </div>
                </div>
            </div>
            <div class="row">
              
               		<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Payment Summary
                        
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                      
                            <div class="row">
                                <div class="col-lg-12">
                                    #parse("/velocity/worldContinent.vm") 
                                    
                                </div>
                               
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->     
               </div>
                    
            </div>
            
        </div>
      
        <!-- /#page-content-wrapper -->
     	
    </div>
    <!-- /#wrapper -->
	<div id="wrapper">
		<div id="page-content-wrapper">
			<div class="container" id="content">
  
			</div>
		</div>
	</div>
	
</body>

</html>